a:link 
{ 
    text-decoration:none; 
} 

/* Barre de Navigation */

div.border a {
    font-size: 35px;
    width: 12%;
    margin: 30px;
    text-align: center;
    display: inline-block;
    padding: 0 27px;
    height: 44px;
    opacity: .8;
    color: white;

}

li {
    position: relative;
    display: inline-block;
    padding: 10px;
    
}


nav.funhead-nav {
    background: #2d2d2d;

}

body.blur {
    margin: 0;
    text-align: left;

}
body.blur:before {
    content: "";
    position: absolute;
    width : 150%;
    height: 150%;
    background: inherit;
    z-index: -1;
    margin-left: -2%;

    filter        : blur(15px);
    -moz-filter   : blur(15px);
    -webkit-filter: blur(15px);
    -o-filter     : blur(15px);
  
}

/* Accueil */

img.logo{
    height: 275px;
    width: 600px;
    margin-left: 35%;

}

img.king{
    height: 374px;
    width: 712px;
    margin-left: 10%;
    display: inline-block;

}

img.kingdom{
    height: 374px;
    width: 770px;
    display: inline-block;

}

/* CV */

img.image {
    height: 747px;
    width: 549px;
    margin-left: 550px;

}

img.fr{
    height: 50px;
    width: 50px;

}

div.CV {
    margin-left: 2%;
    
}

/* Vidéo */

video.video {
    margin-left: 23%;

}

/* Music */

img.banniere{
    height: 400px;
    width: 1200px;
    margin-left: 18%;

}

figure {
    margin-left: 40%;
}

/* Manga */

div.manga {
    margin-left: 2%;
}

h1.manga {
    color: chocolate;
}

h1.manga2 {
    color: chocolate;
}

img.manga {
    display: inline-block;
    margin-left: 25%;
}

img.manga2 {
    display: inline-block;
    height: 500px;
    width: 359px;
}

/* Anime */

img.saison1 {
    width: 300px;
    height: 428px;
    margin-left: 11%;
}

h1.saison {
    color: chocolate;
}

div.saison {
    margin-left: 2%;
}

/* Histoire */

div.histoire {
    margin-left: 2%;

}

h1.histoire {
    color: chocolate;

}

img.histoire {
    margin-left: 25%;

}

img.dessin {
    height: 260px;
    width: 390px;

}

/* Contact */

input.email	{
	width: 275px;

}
input.ville {
	width: 135px;

}

div.shadowbox {
	width: 15%;
	border: 5px solid #333;
	padding: 128px 144px;
    margin-top: 15%;
    margin-left: 32%;

  }
span {
    line-height: 25px;

}
